[Unit]
Description=PM2 process manager
Documentation=https://pm2.keymetrics.io/
After=network.target

[Service]
Type=forking
User=app
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
Environment=PATH=/home/app/.nvm/versions/node/v16.15.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/home/app/.nvm/versions/node/v16.15.0/bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
Environment=PM2_HOME=/home/app/.pm2
PIDFile=/home/app/.pm2/pm2.pid
Restart=on-failure

ExecStart=/home/app/.config/yarn/global/node_modules/pm2/bin/pm2 resurrect
ExecReload=/home/app/.config/yarn/global/node_modules/pm2/bin/pm2 reload all
ExecStop=/home/app/.config/yarn/global/node_modules/pm2/bin/pm2 kill

[Install]
WantedBy=multi-user.target
