{
    "name": "{{ vmlet_name }}",
    "version": "0.1.0",
    "private": true,
    "scripts": {
        "start": "ZENCODE_DIR=contracts node restroom.mjs"
    },
    "dependencies": {
        "@dyne/sawroom-client": "^1.9.0",
        "@grpc/grpc-js": "^1.5.0",
        "@hyperledger/fabric-gateway": "^1.0.1",
        "@restroom-mw/core": "next",
        "@restroom-mw/db": "next",
        "@restroom-mw/ethereum": "next",
        "@restroom-mw/fabric": "next",
        "@restroom-mw/planetmint": "next",
        "@restroom-mw/files": "next",
        "@restroom-mw/http": "next",
        "@restroom-mw/redis": "next",
        "@restroom-mw/sawroom": "next",
        "@restroom-mw/timestamp": "next",
        "@restroom-mw/types": "next",
        "@restroom-mw/ui": "next",
        "@restroom-mw/utils": "next",
        "@restroom-mw/zencode": "next",
        "axios": "^0.26.1",
        "base64url": "3.0.1",
        "cbor": "^8.1.0",
        "chokidar": "^3.5.3",
        "dotenv": "16.0.0",
        "express": "4.17.3",
        "extract-zip": "2.0.1",
        "js-yaml": "^4.1.0",
        "mariadb": "^2.5.4",
        "mqtt": "^4.3.7",
        "mysql2": "^2.2.5",
        "read-last-lines": "^1.8.0",
        "redis": "^4.0.2",
        "sequelize": "^6.16.0",
        "sqlite3": "^5.0.0",
        "swagger-ui-express": "^4.1.5",
        "web3": "1.7.0",
        "websocket": "^1.0.34",
        "winston": "^3.7.2",
        "ws": "^8.6.0",
        "zenroom": "2.2.3-bc442c74"
    },
    "devDependencies": {
        "@types/ws": "^8.5.3",
        "body-parser": "^1.19.2",
        "chalk": "5.0.1",
        "get-port": "^6.1.2",
        "morgan": "1.10.0",
        "readdirp": "3.6.0"
    }
}
